body {
    padding: 0;
    margin: 0;
}

.mirror {
    background-color: rgb(22, 22, 21);
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
}

#video {
    width: 99.85vw;
    height: 99.85vh;
}